		body{
			font-family: "Precision Sans", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
		}
		.gridContainer{
			width:100%;
			display:flex;
			flex-flow:row wrap;
			height:100vh;
			margin-bottom:10em;
		}

		img {
			cursor: pointer;

		}

		.gridContainer h1{
			width:100%;
			text-align: center;
			color:#333;
			margin-top:2em;
			margin-bottom:2em;

		}

		.intro {
			color:#777;
			font-size: 1.2em;
			padding:0 20px 10px 20px;
			margin:0 0 40px 0;
			font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
			font-weight: 100;
			text-align: center;
			width:100%;
		}

		.intro a {
			text-decoration: none;
			color:black;
			font-weight: 400;
		}

		.intro a:hover {
			text-decoration: underline;
		}

		.card{
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			margin:1.7%;
			width:46%;
			border:1px solid #eee;
			padding-top: 46%; /* 1:1 Aspect Ratio */
			display: flex;
			justify-content: center;
			align-items: center;
			font-size:1.8em;
			position: relative;
			cursor: pointer;
		
		
		}

		a:-webkit-any-link {
			text-decoration: none;
		}

	

		.card .text {
		   position: absolute;
		    top: 50%;
		    left:0;
		    display: flex;
			justify-content: center;
			align-items: center;
		    opacity: 1;
		    width: 100%;
		    height: 100%;
		    transform: translate(0,-50%);
		    z-index: 1;
		}

		.card .text .textContent{
			text-decoration: none;
			padding:10%;
			font-size: 0.8em;
			background-color: rgba(255,255,255,0.95);
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 200ms ease-out;
			opacity: 0;


		}

		.revealer:hover + .textContent{
			opacity: 1;

		}

		.pending {
			display: none;
		}

		.pending .text {
		   
		   opacity:1;
		}

		.card.done .text {
			overflow: hidden;
			color:#222;
			/*position: relative;*/
			transition: all 200ms ease-out;
			

		}

	

		.card.done .text:hover {
			
		}

		.card.done .text:hover + .preview{
			/*filter:blur(3px);
			transform: translate(0,-50%) scale(1.2);
			opacity:0.5;*/
			filter: grayscale(0);
		}

		.card.done .revealer{
			opacity: 0;
			position: absolute;
			width: 100%;
			top:50%;
			left:0;
			padding: 0;
			height:50%;
			z-index: 2;

		}

		



		@media(min-width: 600px) and (max-width:960px){
			.card {margin:1.5%; width:30%; padding-top: 30%;};
		}

		@media(min-width: 960px) {
			.gridContainer {
				width:960px;
				margin-left:auto;
				margin-right:auto;
			}
			.card {width:200px;height:200px;padding-top:0;margin:19px;};
		}


		.pending {
			background-color: #eee;
		    color:white;
		}

		.preview{
			position: absolute;
			left:0;
			transform: translate(0,-50%);
			top:50%;
			max-width:100%;
			max-height:100%;
			object-fit: contain;
			width:100%;
			transition: all 300ms ease-out;

		}

		/*.preview:hover {
			filter:blur(10px);
			transform: translate(0,-50%) scale(1.2);
			
		}*/

		.hover-effect {
			filter:grayscale(100%) blur(3px);
			
		}

		.type {
			position: absolute;
			color: #999;
			bottom:-20px;
			left:0;
			font-size: 0.2em;
			z-index:10;
			padding:2px;
			font-family: Helvetica;
			font-weight: 300;
		}






