body{
      display:flex;
      flex-direction: column;
      user-select:none;
      font-family: "Precision Sans", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
      margin: 0;
    }

    a{
      text-decoration: none;
      color:gray;
    }

    h1{
    text-align: center;
    margin:2em;
    display: none
  }

   ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
    }



    .mobile-stage,  .credit{
      
      width:100vw;
      height:100vh;
      margin:0;
      align-items: center;
      overflow-x: hidden;
      overflow-y: hidden;
      
    }



    .screen {
      width:calc(100% - 2px);
      height:100%;
      overflow-x: hidden;
      overflow-y: scroll;
      border:1px solid #eee;
    }

    .credit{
      margin-top: 48px;
    }

    .credit img{
      width:100%;
    }

    .credit div {
      margin: 15px 0 0 0;
    }

    @media(min-width: 600px) {
      .mobile-stage, .credit{
        width:414px;
        height:736px;
        margin-left:auto;
        margin-right:auto;
      }

      h1{
        display: block;
      }

      .screen {
        height:calc(100% - 2px);
      }
     
    }

    

     .container {
      background: linear-gradient(rgb(158, 189, 237), rgb(22, 153, 224));
      width: 100%;
      height:100%;
      position: relative;
      color:white;


    }

    .appbar {
      height:48px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding:18px;
    }

    .appbar span {
      flex:1;
      text-align: center;
    }

    .intro{
      height:30%;
    }

    .taskCards{
      height:55%;
      overflow:hidden;
    }

    .cards{
      height:100%;
      width: calc(320% + 48px);
      position: relative;

    }

    .card{
      float:left;
      background-color: white;
      border-radius: 10px;
      width:calc(25% - 12px);
      height:90%;
      margin:0 6px 0 6px;
      box-shadow: 0px 10px 20px #555;
    }
   
   



    

    

  